html, body {margin: 0; padding: 0;}

:root {
--navfontcolor: white; 
--bkground: rgba(0, 26, 59, 0.822);
--bkground2: rgb(0, 0, 0);
--fontcolor1: white;
--fontcolor2: black;
--headerbk: rgb(0, 0, 0);
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--bkground);
  color: white;
}

header {
position: relative;
padding: 20px;
width: 100%;
z-index: 5;

}

nav a:hover {
  color: #fff;
  border: 2px solid white;
  border-left: none;
  border-right: none;
  border-top: none;
}

nav {
    position: fixed;
    z-index: 4;

}

nav a {
  
    padding: 10px;
    text-decoration: none;
    color: var(--navfontcolor);
   
}

.bkmain {
    background-image: url('./img/wallpaper.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;   
    height:100%;
}

.overlay {
position: absolute;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.459);
z-index: 1;
width: 100%;   
height:100%;
}

article {
    position: relative;
    z-index: 2;
  
}


.post-title-m {
padding-top: 160px;
padding-bottom: 20px;
padding-left: 20px;


}

.post-content-m {
    width: 40%;
    padding-bottom: 30%;
    padding-left: 20px;
   
}

@media screen and (max-width: 900px) {

    .post-content-m {
        width: 80%;
        padding-bottom: 30%;
        padding-left: 20px;
    }

}


.post {
    padding: 90px;
color: var(--fontcolor1);
background-color: var(--bkground2);
text-align: center;

}

.post-2 {
    padding: 90px;
color: var(--fontcolor1);
background-color: var(--bkground1);
text-align: center;

}


    .arduino-experiencia{
        padding: 40px 20px;
        max-width: 1000px;
        margin: auto;
        font-family: Arial, sans-serif;
        
    }

    .arduino-experiencia h2{
        text-align: center;
        margin-bottom: 10px;
    }

    .arduino-experiencia .intro{
        text-align: center;
        margin-bottom: 30px;
        color: #ffffff;
    }

    .arduino-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 20px;
    }

    .item{
        background: #f7f7f7;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }

    .item h3{
        font-size: 18px;
        margin-bottom: 10px;
   color: #333333ff;
    }

    .item img, .item video{
        width: 100%;
        border-radius: 6px;
        margin-bottom: 10px;
    }

    .item p{
        font-size: 14px;
        color: #000000ff;
    }